.navbar-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 10;
  --nav-blur: 0px;
  --nav-bg-alpha: 0;
  --nav-bg-rgb: 255 255 255;
  background-color: rgb(var(--nav-bg-rgb) / var(--nav-bg-alpha));
  backdrop-filter: blur(var(--nav-blur));
  -webkit-backdrop-filter: blur(var(--nav-blur));
  transition: background-color 0.2s ease;
}

.navbar-background.dark {
  --nav-bg-rgb: 17 24 39;
}
